# Optional links shown in Info & Help.
VITE_SOURCE_URL=https://github.com/mmspwrbx/vslauncher
VITE_ISSUES_URL=https://github.com/mmspwrbx/vslauncher/issues
VITE_DOCS_URL=
VITE_COMMUNITY_URL=
VITE_DONATE_URL=
